<div class="links high l">
  <strong>&copy; Магазин «Антенны»</strong><br/>
  г. Ставрополь, ул. Ленина, 245
</div>

<div class="made-by links l">
  <a target="_blank" href="http://8hands.ru">сделано в 8hands</a> 
</div>

<div class="links l">
  <a href="/sitemap">карта сайта</a>
</div>