<div class="logo-slogan l">
  <a href="/" class="logo ir" id="logo">магазин Антенны</a>
  <p class="slogan">
    Всё для спутникового, эфирного и кабельного телевидения
  </p>
</div>

{% include 'layouts/nav.html' %}

<div class="contacts">
  адрес<br/>
  <span>г. Ставрополь, ул. Ленина, 245</span><br/>
  контактный телефон<br/>
  <img src="/static/images/phone.png" alt="Телефон" /> <span>665-335, 357-947</span>
</div>
