<nav class="l">
  <a href="/"{% if main_page %} class="selected"{% endif %}>Новости</a>
  <a href="/catalog/{{ first_category.id }}"{% if catalog_page %} class="selected"{% endif %}>Каталог</a>
  <a href="/about"{% if about_page %} class="selected"{% endif %}>О нас</a>
  <a href="/faq"{% if faq_page %} class="selected"{% endif %}>Вопрос-ответ</a>
  <a href="/contacts"{% if contacts_page %} class="selected"{% endif %}>Контакты</a>
</nav>