<nav class="l">
  <a href="/"{% if main_page %} class="selected"{% endif %}>Главная</a>
  <a href="/catalog/2"{% if catalog_page %} class="selected"{% endif %}>Каталог</a>
  <a href="/about"{% if about_page %} class="selected"{% endif %}>О нас</a>
  <a href="/faq"{% if faq_page %} class="selected"{% endif %}>Вопрос-ответ</a>
  <a href="">Контакты</a>
</nav>