/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font: 14px/1.5 sans-serif; *font-size:small; }
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
.placeholder { color: #999; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

body.main {
  background: url(../images/body_bg.jpg) 0 0 repeat-x; }
  body {
    background: url(../images/body_inner_bg.jpg) 0 0 repeat-x; }
.inner-body {
  background: url(../images/body_bottom_bg.jpg) 0 bottom repeat-x; }

.wrapper {
  margin: 0 auto;
  width: 1000px; }

header {
  position: relative; }
.main header {
  background: url(../images/header_photo.png) 18px 170px no-repeat;
  height: 400px;
  margin-bottom: -245px;
  position: relative; }

.logo-slogan {
  height: 110px;
  margin: 48px 0 0 32px;
  position: relative;
  width: 250px; }

.logo {
  background: url(../images/logo.jpg) 0 0 no-repeat;
  display: block;
  height: 74px;
  position: relative;
  width: 240px; }

.slogan {
  font: 16px 'Myriad Pro';
  left: 1px;
  position: absolute;
  top: 78px; }

header .contacts {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  right: 28px;
  top: 205px;
  text-align: right;
  z-index: 999; }
  header .contacts span {
    color: #497a14;
    font-size: 19px; }

  .main header .contacts {
    top: 380px; }

  header .contacts img {
    vertical-align: middle; }

nav {
  font: normal 19px 'Myriad Pro';
  margin: 80px 0 0 37px; }
  nav a {
    margin-left: 19px; }
    nav a.selected {
      color: #666;
      text-decoration: none; }

.content {
  margin: 75px 0 100px 50px;
  position: relative; }

.main .content {
  margin-top: 248px; }

.main-bar {
  width: 700px; }
  .catalog .main-bar {
    width: 660px; }

h1 {
  color: #000;
  font: 33px 'Myriad Pro';
  margin-top: 15px; }

.catalog h2 {
  font-size: 20px;
  margin-top: 75px; }

.catalog-menu {
  color: #000;
  margin-top: 25px; }
  .catalog-menu li {
    margin-top: 5px; }
  .catalog-menu a {
    color: #5283b9; }
    .catalog-menu .selected {
      color: #000;
      text-decoration: none; }

.news-filter {
  left: 143px;
  position: absolute;
  top: 31px;
  width: 300px; }
  .news-filter span {
    color: #a30a31;
    font-weight: bold;
    margin-right: 5px; }
  .news-filter a.selected {
    background: #def;
    text-decoration: none; }

.news-list {
  margin: 45px 0 0 15px; }

.news-item {
  background: url(../images/news_item_bg.png) center bottom no-repeat;
  margin-top: 20px;
  padding-bottom: 40px; }

.news-item .date-title {
  margin-bottom: 30px; }
  .news-item .date-title span {
    font-size: 14px; }
  .news-item .date-title h3 {
    color: #5283b9;
    display: inline;
    font-size: 16px;
    margin-left: 54px; }

  .news-item .photo {
    margin: 0 10px 10px 0; }

  .news-item .text {
    display: none; }

  .news-item.opened .description {
    display: none; }
  .news-item.opened .text {
    display: block; }

  .news-item .more {
    background: url(../images/more.png) 0 -15px no-repeat;
    color: #444;
    font-size: 12px;
    line-height: 15px;
    margin: 15px 35px 0 0;
    padding-left: 20px;
    text-decoration: none; }
    .news-item .more span {
      border-bottom: 1px dashed #000; }
    .news-item .more:hover {
      color: #000; }

  .news-item.opened .more {
    background-position: 0 0; }

.news-more {
  display: block;
  font-size: 23px;
  margin: 25px auto 0;
  text-align: center; }
  .news-more a {
    border-bottom: 2px dashed #333;
    color: #333;
    padding-bottom: 3px;
    text-decoration: none; }
    .news-more a:hover {
      border-color: #000;
      color: #000; }

.faq-list {
  margin-top: 40px;
  width: 600px; }
.faq-item {
  margin-top: 20px; }

.product {
  padding-bottom: 75px;
  font-size: 14px; }
  .product h3 {
    color: 000;
    font-size: 16px;
    margin-bottom: 10px; }

.product .price {
  color: #5283b9;
  font-weight: bold;
  margin-top: 10px;
}
.product .in-stock {
  color: #090;
  margin-top: 10px; }
  .product .in-stock.no {
    color: #900; }

.faq-q a {
  border-bottom: 1px dashed #1f5693;
  color: #1f5693;
  font-size: 16px;
  text-decoration: none; }
  .faq-q a:hover {
    color: #027; }
.faq-a {
  margin: 10px 0 0 20px; }

.side-bar {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  margin: 75px 26px 0 0;
  width: 191px; }

  .catalog .side-bar {
    background: none;
    border: 0;
    margin: 0 0 0 -20px;
    width: 250px; }

  .side-bar h2 {
    background: url(../images/side_bar_title.png) 0 0 no-repeat;
    color: #fff;
    height: 44px;
    font-size: 18px;
    font-weight: normal;
    margin-left: -8px;
    padding-top: 4px;
    text-align: center;
    width: 209px; }

  .side-bar .bottom {
    background: url(../images/side_bar_bottom.png) 0 0 no-repeat;
    height: 15px;
    margin: 25px 0 -16px;
    width: 191px; }

.provider-item {
  margin-top: 30px;
  text-align: center; }

.provider {
  margin-top: 25px;
  position: relative;
  width: 600px; }
  .provider img {
    margin: 0 20px 20px 0; }
  .provider p {
  margin-bottom: 15px; }

.provider-channels span {
  margin-right: 20px;
  width: 180px; }

.print {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0; }

.text {
  width: 600px; }
  .text p, .text ul {
    margin-top: 15px; }

  .text .made-by {
    margin-top: 15px; }
    .text .made-by a {
      color: #b83183; }
      .text .made-by a:hover {
        color: #882360; }

.text .site-name {
  color: #607890;
  font-size: 16px; }

.text.contacts {
  font-size: 18px; }

#yandexMap {
  height: 400px;
  margin-top: 25px;
  width: 660px; }

footer {
  background: url(../images/footer_tv.png) 20px 0 no-repeat;
  height: 91px;
  margin-top: 100px;
  padding: 70px 0 0 160px; }

  footer .links {
    margin-left: 105px;
    padding-top: 28px; }

  footer .high {
    margin-top: -20px; }

  footer .made-by {
    background: url(../images/8hands.png) right 0 no-repeat;
    padding-right: 40px; }
    footer .made-by a {
      color: #b83183; }
      footer .made-by a:hover {
        color: #882360; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.h { display: none; visibility: hidden; }
.c:before, .c:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.c:after { clear: both; }
.c { zoom: 1; }
.l, .r { display: inline; float: left; position: relative; }
.r { float: right; }
.b { border: 1px solid red; }
.bt { border-top: 1px solid transparent; }
.bb { border-bottom: 1px solid transparent; }


@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust:none; }
  input[type=text], input[type=password], input[type=file], textarea {
    -webkit-appearance:none; }
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

