/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dashed; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font: 14px/1.5 'Trebuchet MS', sans-serif; *font-size:small; }
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { font-family: 'Consolas', monospace, sans-serif; white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
.placeholder { color: #999; }


::-moz-selection{ background: #d55bb8; color:#fff; text-shadow: none; }
::selection { background:#d55bb8; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #333; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { border-color: #1d46a4 !important; color: #1d46a4; }
a:hover { border-color: #c53b96 !important; color: #c53b96; }


/**
 * Primary styles
 *
 * Author: Georgy Krasulya
 */

nav, h1, h2, h3, h4 {
  font-family: 'Myriad Pro'; }

body {
  background: url(../images/top_inner_bg.jpg) -100px 0px repeat-x; }
  body.main {
    background: url(../images/top_bg.jpg) -100px 0px repeat-x; }

header, .content, .footer-inner, .scheme-inner {
  margin: 0 auto;
  max-width: 1333px;
  min-width: 980px;
  position: relative;
  width: 100%; }

header {
  height: 180px;
  position: relative; }

a.top-logo {
  background: url(../images/top_logo.png) center 0 no-repeat;
  color: #333;
  font-size: 12px;
  height: 73px;
  margin: 44px 0 0 5%;
  padding-top: 75px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 200px; }
  a.top-logo span {
    display: none; }
  a.top-logo strong {
    font-style: italic;
    font-weight: bold; }

nav {
  font-size: 22px;
  margin: 100px 5% 0 0;
  width: 65%;
  white-space: nowrap !important; }
  nav a, nav a:visited {
    color: #092469;
    margin-right: 5%; }
  nav a:hover {
    color: #c53b96; }
  nav a.selected {
    color: #000;
    text-decoration: none; }

.main .content {
  background: url(../images/bird.jpg) 10% 230px no-repeat; }

.feed-scroll-handler {
  position: relative; }

.feed-scroll {
  height: 140px;
  margin: 30px auto 0;
  overflow: hidden;
  position: relative; }

.feed-scroll-inner {
  width: 2000px; }

a.feed-item {
  display: block;
  margin: 15px 0 0 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 200px; }
  .feed-item p {
    margin-top: 3px; }
  .feed-item:hover p {
    text-decoration: underline; }
  .feed-item .img {
    height: 95px;
    line-height: 90px; }
  .feed-item img {
    max-height: 90px;
    max-width: 140px;
    vertical-align: bottom; }

.feed-bar {
  background: url(../images/slider_bg.png) 0 0 repeat-x;
  bottom: 0;
  cursor: pointer;
  display: none;
  height: 13px;
  margin: 0 auto;
  position: relative;
  width: 25%; }

.feed-knob {
  background: url(../images/knob.png) center center no-repeat;
  height: 13px;
  padding-top: 7px;
  position: relative;
  width: 49px; }

.feed-mask-left, .feed-mask-right {
  background: url(../images/feed_mask_left.png) 0 0 repeat-y;
  height: 140px;
  position: absolute;
  top: 0;
  width: 50px; }
.feed-mask-left {
  left: 0; }
.feed-mask-right {
  background: url(../images/feed_mask_right.png) 0 0 repeat-y;
  right: 0; }

h1, h2, h3, h4, h5 {
  color: #000;
  font-weight: normal; }
h1 {
  font-size: 36px;
  margin: 50px 5% 0;
  text-align: center; }
h2 {
  font-size: 30px; }
h3 {
  font-size: 24px; }
h4 {
  font-size: 21px; }
h5 {
  font-size: 18px; }

.back-link {
  left: 5%;
  position: absolute;
  top: 20px; }

.packs {
  margin-top: 50px; }
  .main .packs {
    margin-top: 260px; }

h2 {
  margin-left: 5%; }

a.pack {
  color: #444;
  margin: 0 2.5% 0;
  padding: 130px 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 18%;
  
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  a.pack:hover {
    text-decoration: underline; }
  a.pack.selected, a.pack.selected:hover {
    background-color: #eef;
    cursor: default;
    text-decoration: none; }

  /*
  .calc a.pack {
    padding-top: 100px; }
  */

.pack .checkbox {
  background: url(../images/pack_check.png) 0 0 no-repeat;
  display: none;
  height: 24px;
  left: 10%;
  position: absolute;
  top: 175px;
  width: 26px; }
  .pack.selected .checkbox {
    display: block; }

.pack p {
  margin-top: 7px; }
.pack .price {
  font-weight: bold;
  line-height: 125%; }

.pack h4 {
  color: #1d46a4;
  text-decoration: underline; }
  .pack:hover h4 {
    color: #c53b96; }

  a.pack.selected:hover h4 {
    color: #1d46a4 !important; }

.pack1 {
  background: url(../images/pack1.png) center 25px no-repeat; }
.pack2 {
  background: url(../images/pack2.png) center 23px no-repeat; }
.pack3 {
  background: url(../images/pack3.png) center 0 no-repeat; }
.pack4 {
  background: url(../images/pack4.png) center 23px no-repeat; }

  /*
  .calc .pack1 {
    background: url(../images/pack1_small.png) center 20px no-repeat; }
  .calc .pack2 {
    background: url(../images/pack2_small.png) center 23px no-repeat; }
  .calc .pack3 {
    background: url(../images/pack3_small.png) center 15px no-repeat; }
  .calc .pack4 {
    background: url(../images/pack4_small.png) center 23px no-repeat; }
  */

.packs b.l {
  background: #ccc;
  height: 190px;
  margin-top: 40px;
  width: 1px; }
  
  .calc .packs b.l {
    height: 145px;
    margin-top: 30px; }

.calc-actions {
  margin: 10px 0 0 5%; }
  .calc-actions a {
    border-bottom: 1px dotted #ccc;
    text-decoration: none; }

.scheme {
  background: #e9f6f9;
  margin-top: 50px;
  padding: 15px 0 25px; }

.fig {
  margin: 15px 2.5% 0;
  padding-top: 125px;
  text-align: center;
  width: 18%; }
.fig1 {
  background: url(../images/fig1.png) center 22px no-repeat; }
.fig2 {
  background: url(../images/fig2.png) center 0 no-repeat; }
.fig3 {
  background: url(../images/fig3.png) center 0 no-repeat; }
.fig4 {
  background: url(../images/fig4.png) center 0 no-repeat; }

  .fig p {
    margin: 0 auto;
    width: 90%; }

.scheme .arrow {
  background: url(../images/scheme_arrow.png) 0 0 no-repeat;
  height: 25px;
  left: 0;
  margin-top: 110px;
  position: absolute;
  width: 83px; }
.scheme .arrow1 {
  margin-left: 17%; }
.scheme .arrow2 {
  margin-left: 43%; }
.scheme .arrow3 {
  margin-left: 64%; }

.content.airship {
  background: url(../images/airship.jpg) 75% 10px no-repeat;
  height: 300px;
  margin-top: 15px;
  min-height: 200px; }

.review {
  background: url(../images/review_left.jpg) 0 0 no-repeat;
  left: 0;
  margin: 80px 0 0 4%;
  padding: 5px 0 0 42px;
  position: absolute;
  top: 0;
  width: 30%; }

.review-author {
  background: url(../images/review_right.jpg) right 0 no-repeat;
  margin-top: 20px;
  padding-right: 50px; }

.review-more {
  left: 0;
  margin: 205px 0 0 30%;
  top: 0; }
  .review-more a {
    border-bottom: 1px dashed #666;
    /* background: url(../images/rarr.jpg) right 2px no-repeat; */
    padding: 0 0 2px 0;
    text-decoration: none; }
  .review-more a.loading {
    background-position: 100px 100px; }

hr {
  margin: 30px auto 0;
  width: 92%; }

footer {
  background: url(../images/water.jpg) center bottom repeat-x;
  font-size: 12px;
  margin-top: 150px; }
  .main footer {
    margin-top: 30px; }

.footer-inner {
  background: url(../images/ship.png) 4% 40px no-repeat;
  height: 306px; }

.soc-buttons {
  left: 50%;
  overflow: hidden;
  position: absolute;
  width: 45%; }
  .soc-buttons div.l {
    margin-right: 2%;
    width: 30%; }
  .soc-buttons div.l.tw {
    width: 30%; }

footer .column {
  margin-top: 80px;
  width: 15%; }

  footer .first {
    margin: 80px 5% 0 50%; }

  footer a.selected {
    color: #000;
    text-decoration: none; }

.go-top {
  background: url(../images/spaceman.png) 0 0 no-repeat;
  bottom: -109px;
  color: #000;
  height: 109px;
  position: fixed;
  right: 10px;
  width: 122px; }

.port-types {
  margin: 0 auto;
  text-align: center; }
  .port-types a {
    border-bottom: 1px dashed #666;
    margin: 0 5px;
    text-decoration: none; }
    .port-types a.selected {
      border: none;
      color: #000; }

  .port-types em {
    font-style: italic; }

.port-list {
  margin: 0 auto;
  width: 90%; }

.port-show {
  margin: 50px 5% 0;
  width: auto; }
  .port-show .link {
    background: #eef;
    padding: 10px; }
  .port-show img, .port-show p, .port-show ul {
    margin-top: 15px; }
  .port-show img {
    margin-left: -5px; }

.port-text {
  margin: 15px 0;
  width: 690px }

.port-show h5 {
  margin-top: 20px; }

.port-code-preview {
  background: #f5f5fc;
  border: 1px solid #e6e6e6;
  border-right: 0;
  font-size: 13px;
  height: 450px;
  line-height: 125%;
  margin: 10px 0 30px;
  overflow-y: scroll;
  width: 690px; }

.port-item {
  margin-top: 25px; }

.port-item .preview {
  line-height: 200px;
  text-align: center;
  vertical-align: middle; }
  .port-item .preview img {
    max-height: 200px;
    max-width: 200px;
    vertical-align: middle; }

.port-item .title {
  line-height: 125%;
  margin-top: 5px; }
.port-item p {
  color: #666;
  line-height: 125%;
  margin-top: 5px; }
.port-item .type {
  margin-top: 5px; }
  .port-item .type a, .port-types a.selected, .port-item .type span {
    background: #bad8e3;
    padding: 0 5px;
    text-decoration: none;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
  .port-item .type a:hover {
    background: #c53b96;
    color: #fff; }

.pagination {
  font-size: 24px;
  margin-top: 60px;
  text-align: center; }
  .pagination a {
    border-bottom: 1px dashed #666;
    margin: 0 2px;
    padding: 2px 6px;
    text-decoration: none; }
  .pagination a.selected {
    border: none;
    color: #000;
    cursor: default; }

.port-shift {
  background: url(../images/port_prev.png) center no-repeat;
  left: 0;
  position: fixed;
  top: 0;
  width: 5%;

  display: none; /* dont show it right now */
  
  opacity: .5;
  -moz-opacity: .5;
  -webkit-opacity: .5; }
  .port-shift:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1; }
  .port-shift.next {
    background-image: url(../images/port_next.png);
    left: auto;
    right: 0; }

.tip-handler {
  color: #333;
  padding: 10px;
  max-width: 250px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  background: rgba(240, 240, 255, 0.88);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0FFFFFF,endColorstr=#E0FFFFFF);
  zoom: 1; }

.price-item .description {
  border-bottom: 1px dashed #666;
  color: #666;
  height: 15px;
  padding: 2px 5px;
  text-decoration: none;
  width: 15px; }

.calc-form {
  font-size: 14px;
  margin: 40px 0 0 5%; }

  .calc-form h2 {
    margin: 0 0 20px; }
  .calc-form h3 {
    margin-bottom: 10px; }

  .calc-form .price {
    font-style: italic; }

  .calc-form .form-row {
    border-bottom: 1px dashed #ccc;
    margin: 7px 50px 0 0;
    padding-bottom: 7px;
    width: 400px; }
  .calc-form .column {
    margin: 0 50px 20px 0;
    width: 250px; }

  .calc-form .selected label, .calc-form .selected .price {
    font-weight: bold; }


  .order-fieldset {
    display: none;
    margin-top: 40px; }
    .calc-form .order-fieldset .form-row {
      border: none;
      position: relative; }
    .order-fieldset textarea {
      height: 125px; }
    .order-fieldset input, .order-fieldset textarea {
      border: 1px solid #ddd;
      padding: 1%;
      width: 98%; }

form textarea {
  resize: none; }

form .hint {
  background: #f3f3f3;
  font-size: 12px;
  left: 103%;
  padding: 5px 7px;
  position: absolute;
  width: 200px; }

form .cancel {
  margin-left: 10px; }
  form .cancel.js {
    border-bottom: 1px dotted #33f;
    text-decoration: none; }

button[type=submit] {
  padding: 3px 5px; }

.total-price {
  border-top: 1px solid #000;
  color: #000;
  display: none;
  font-size: 21px;
  margin: 35px 0 0 5%;
  padding-top: 20px;
  width: 850px; }

/* 
 * Custom Form Elements
 */

.form-row {
  margin-top: 10px; }

.checkbox, .radio {
  cursor: pointer;
  height: 20px;
  background: url(../images/checkbox.jpg) no-repeat;
  width: 22px;
  margin-right: 5px;
  clear: left;
  float: left; }
.radio {
  background: url(../images/radio.jpg) no-repeat;
  width: 16px; }
.checkbox:hover, .radio:hover {
  background-position: 0 -20px; }
  .checkbox.checked, .radio.checked {
    background-position: 0 -40px; }
  .checkbox.checked:hover, .radio.checked {
    background-position: 0 -60px; }

  .disabled .checkbox, .disabled .radio {
    background-position: 0 -80px; }
  .disabled .checkbox.checked, .disabled .radio.checked {
    background-position: 0 -100px; }
  .form-row.disabled, .form-row.disabled {
    color: #666; }

.select {
  position: absolute;
  width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 21px;
  padding: 0 24px 0 8px;
  color: #fff;
  background: url(../images/select.gif) no-repeat;
  overflow: hidden; }


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.h { display: none; visibility: hidden; }
.c:before, .c:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.c:after { clear: both; }
.c { zoom: 1; }
.l, .r { display: inline; float: left; position: relative; }
.r { float: right; }
.b { border: 1px solid red; }
.bg { border: 1px solid green; }
.bt { border-top: 1px solid transparent; }
.bb { border-bottom: 1px solid transparent; }


@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust:none; }
  input[type=text], input[type=password], input[type=file], textarea {
    -webkit-appearance:none; }
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

