<script type="text/javascript" src="/static/js/libs/jquery.tablednd.js"></script>
<script type="text/javascript">
	!function() {
		var $categoriesList = $('#categoriesList'),
			firstDrop = true,
			$changePosition = $('button.change-position'),
			$w = $(window);

		$w.scroll(function() {
			var scrollTop = $w.scrollTop();
			if ($categoriesList.offset().top < scrollTop)
				$changePosition.css('top', scrollTop - $categoriesList.offset().top);
		});
		
		$categoriesList.tableDnD({
			onDrop: function() {
				if (firstDrop) {
					firstDrop = false;
					$changePosition.show();
				}

				var $rows = $categoriesList.find('tbody tr');
				$rows.each(function(i, el) {
					i % 2 == 0 ?
						el.className = 'row2' : el.className = 'row1';
				});
			}
		});

		$changePosition.click(function() {
			var $rows = $categoriesList.find('tbody tr'),
				ids = [],
				$self = $(this);

			$self.attr('disabled', true);
			$self.html('Сохраняется...');

			$rows.each(function(i, el) {
				ids.push(el.id);
			});

			ids = ids.join(',');

			$.post('{{ url_for('admin.change_category_position') }}', {
				ids: ids
			}, function(res) {
				$.flash('Порядок сохранен');
				
				firstDrop = true;

				$self.attr('disabled', false);
				$self.html('Сохранить порядок');
				$self.hide();
			});
		});
	}();
</script>