{% if categories %}
	<p class="hint" id="hint1">
		Чтобы поменять порядок, просто перетаскивайте модели с помощью мышки<br/>
		<b>(кликните, чтобы закрыть)</b>
	</p>

	<button class="change-position">Сохранить порядок</button>
	
	<table class="admin-list" id="categoriesList">
		<thead>
			<tr>
				<th>Категория</th>
				<th>Товаров</th>
				<th>Действия</th>
			</tr>
		<tbody>
		{% for category in categories %}
			<tr class="{{ loop.cycle('row1', 'row2') }}" id="{{ category.id }}">
				<td>
					<a href="/admin/Category/{{ category.id }}">{{ category.title }}</a>
				</td>
				<td>{{ category.products.count() }}</td>
				<td>
					<a href="/admin/Category/delete/{{ category.id }}" class="delete-row-link">удалить [x]</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}