<table class="admin-list">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Текст</th>
		</tr>
	<tbody>
	{% for page in g.pages %}
		<tr class="{{ loop.cycle('row1', 'row2') }}">
			<td>
				<a href="/admin/page/{{ page.id }}">{{ page.title }}</a>
			</td>
			<td>{{ page.description() }}</td>
		</tr>
	{% endfor %}
</table>