{% if posts %}
	<table class="admin-list">
		<thead>
			<tr>
				<th>Фото</th>
				<th>Заголовок</th>
				<th>Дата добавления</th>
				<th>Действия</th>
			</tr>
		<tbody>
		{% for post in posts %}
			<tr class="{{ loop.cycle('row1', 'row2') }}">
				<td>
					<a href="/admin/Post/{{ post.id }}">
						{% if post.url(100) %}
							<img src="{{ post.url(100) }}" alt="{{ post.title }}">
						{% endif %}
					</a>
				</td>
				<td>
					<a href="/admin/Post/{{ post.id }}">{{ post.title }}</a>
				</td>
				<td>{{ post.date_added }}</td>
				<td>
					<a href="/admin/Post/delete/{{ post.id }}" class="delete-row-link">удалить [x]</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}