{% if providers %}
	<table class="admin-list">
		<thead>
			<tr>
				<th>Фото</th>
				<th>Название</th>
				<th>Описание</th>
				<th>Действия</th>
			</tr>
		<tbody>
		{% for provider in providers %}
			<tr class="{{ loop.cycle('row1', 'row2') }}">
				<td>
					<a href="/admin/Provider/{{ provider.id }}">
						{% if provider.url(100) %}
							<img src="{{ provider.url(100) }}" alt="{{ provider.title }}">
						{% endif %}
					</a>
				</td>
				<td>
					<a href="/admin/Provider/{{ provider.id }}">{{ provider.title }}</a>
				</td>
				<td>{{ provider.description }}</td>
				<td>
					<a href="/admin/Provider/delete/{{ provider.id }}" class="delete-row-link">удалить [x]</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}