<h1>Продукты этой категории</h1>

<div class="add-new">
	<a href="/admin/Product/new?category_id={{ record.id }}">Добавить продукт</a>
</div>

<div class="content-main">
	<p class="hint" id="hint1">
		Чтобы поменять порядок, просто перетаскивайте модели с помощью мышки<br/>
		<b>(кликните, чтобы закрыть)</b>
	</p>

	<button class="change-position">Сохранить порядок</button>

	<table class="admin-list" id="productList">
		<thead>
			<tr>
				<th>Изображение</th>
				<th>Название</th>
				<th>Описание</th>
				<th>Действия</th>
			</tr>
		<tbody>
		{% for product in record.products.order_by('position') %}
			<tr class="{{ loop.cycle('row1', 'row2') }}" id="{{ product.id }}">
				<td>
					<a href="/admin/Product/{{ product.id }}">
						{% if product.url(100) %}
							<img src="{{ product.url(100) }}" alt="{{ product.title }}">
						{% endif %}
					</a>
				</td>
				<td>
					<a href="/admin/Product/{{ product.id }}">{{ product.title }}</a>
				</td>
				<td>{{ product.description }}</td>
				<td>
					<a href="/admin/Product/delete/{{ product.id }}" class="delete-row-link">удалить [x]</a>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>