{% extends 'admin/base.html' %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/changelist.css" />
{% endblock extracss %}

{% block header %}
<div id="branding"> 
	<h1 id="site-name">asdАдминистрирование "TV26.ru"</h1>
</div>
{% endblock header %}

{% block content_class %}class="flex"{% endblock content_class %}

{% block content %}
        
  <h1>{{ g.category.title }}</h1> 

	<div class="add-new">
		<a href="/admin/product/new?category_id={{ g.category.id }}">Добавить новую модель</a>
	</div>

	<div class="content-main">
		<p class="hint" id="hint1">
			Чтобы поменять порядок, просто перетаскивайте модели с помощью мышки<br/>
			<b>(кликните, чтобы закрыть)</b>
		</p>

		<div class="module">
			{% include 'admin/_products_module.html' %}
		</div>

	</div>

{% endblock content %}