{% extends 'admin/base.html' %}

{% block pagetitle %}Редактирование страницы "{{ page.name }}"{% endblock pagetitle %}
{% block title %}Редактирование страницы "{{ page.name }}"{% endblock title %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock extracss %}

{% block header %}
<div id="branding"> 
	<h1 id="site-name">Администрирование TV26.ru</h1>
</div>
{% endblock header %}

{% block content_class %}class="colM"{% endblock content_class %}

{% block content %}
        
  <h1>Редактирование страницы "{{ page.name }}"</h1> 

	<form action="{{ url_for('edit', slug=page.slug) }}" class="admin-form" method="POST">
		{% for f in form %}
			<div class="form-row {% if f.validators %}required{% endif %} {% if f.errors %}error{% endif %}">
			
				{% if f.type == 'BooleanField' %}
					asd
					{{ f }} {{ f.label }}
				{% else %}
					{{ f.label }}:<br/>
					{{ f }}
				{% endif %}
				{% for e in f.errors %}
					<span class="error">{{ e }}</span>
				{% endfor %}
			</div>
		{% endfor %}
		<div>
			<button type="submit">Сохранить</button>
		</div>
	</form>

{% endblock content %}