{% extends 'admin/base.html' %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/changelist.css" />
{% endblock extracss %}

{% block header %}
<div id="branding"> 
	<h1 id="site-name">Администрирование "TV26.ru"</h1>
</div>
{% endblock header %}

{% block content_class %}class="flex"{% endblock content_class %}

{% block content %}

	<div class="module-container">
        
		<h1>Каталог. Категории</h1>

		<div class="close-open">
			<div class="add-new">
				<a href="/admin/Category/new">Добавить категорию</a>
			</div>

			<div class="content-main">
				<div class="module">
					{% include 'admin/_categories_module.html' %}
				</div>
			</div>
		</div>
		

	</div>

	<div class="module-container">
	        
		<h1>Новости</h1>

		<div class="close-open">
			<div class="add-new">
				<a href="/admin/Post/new">Добавить новость</a>
			</div>

			<div class="content-main">
				<div class="module">
					{% include 'admin/_posts_module.html' %}
				</div>
			</div>
		</div>

	</div>

	<div class="module-container">
        
		<h1>Провайдеры</h1>

		<div class="close-open">
			<div class="add-new">
				<a href="/admin/Provider/new">Добавить провайдера</a>
			</div>

			<div class="content-main">
				<div class="module">
					{% include 'admin/_providers_module.html' %}
				</div>
			</div>
		</div>

	</div>

{% endblock content %}

{% block extra_js %}
	{% include 'admin/_categories_module_javascript.html' %}
{% endblock extra_js %}