{% extends 'base_admin.html' %}

{% block content %}
	<div class="add-new">
		<a href="/admin/{{ cls_name }}/new">Добавить в калькулятор</a>
	</div>
	{% if prices %}
		<table class="admin-list">
			<thead>
				<tr>
					<th>Модуль</th>
					<th>Цена</th>
					<!-- <th>Количество страниц</th> -->
					<th>Что есть</th>
					<th>Входит в состав</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for price in prices %}
				<tr class="{{ loop.cycle('row1', 'row2') }}
					{% if price.by_default %}by-default{% else %}not-default{% endif %}" id="record{{ price.id }}">
					<td>
						<a href="/admin/{{ cls_name }}/{{ price.id }}"><strong>&bdquo;{{ price.title }}</strong>&ldquo;</a>
					</td>
					<td>
						{% if price.price %}
							от. <input type="text" class="input-price" name="price"
								id="price_{{ price.id }}" value="{{ price.price }}" /> руб.
						{% else %}
							<span style="color: #099">в подарок</span>
						{% endif %}
					</td>
					<!-- {#
					<td>
						{% if price.code != 'design' and price.code != 'main' %}
							мин. <input type="text" class="input-min-pages" name="min_pages"
								id="min_pages_{{ price.id }}" value="{{ price.min_pages }}" /> стр.
						{% endif %}
					</td>
					#} -->
					<td class="what-have">
						Описание: {% if price.description %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
					</td>
					<td class="c">
						{% if price.by_default %}
							По умолчанию
						{% else %}
							{% if price.in_card %}<a href="#" title="Сайт-визитка" class="pack pack1 l"></span>{% endif %}
							{% if price.in_catalog %}<a href="#" title="Каталог" class="pack pack2 l"></span>{% endif %}
							{% if price.in_shop %}<a href="#" title="Интернет-магазин" class="pack pack3 l"></span>{% endif %}
						{% endif %}
					</td>
					<td>
						<a href="/admin/{{ cls_name }}/delete/{{ price.id }}" class="delete-row-link">удалить [x]</a>
						<a class="move-link up" href="/admin/{{ cls_name }}/move/{{ price.id }}?direction=up"
							title="Подвинуть вверх">[&uarr;]</a>
						<a class="move-link down" href="/admin/{{ cls_name }}/move/{{ price.id }}?direction=down"
							title="Подвинуть вниз">[&darr;]</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}