{% extends 'base_admin.html' %}

{% block content %}
	<div class="add-new">
		<a href="/admin/{{ cls_name }}/new">Добавить отзыв</a>
	</div>
	{% if feedbacks %}
		<table class="admin-list feedback-list" id="feedbackList">
			<thead>
				<tr>
					<th>Сообщение</th>
					<th>Дата</th>
					<th>Прочитано</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for feedback in feedbacks %}
				<tr class="{{ loop.cycle('row1', 'row2') }}" id="record{{ feedback.id }}">
					<td class="first message">
						<div class="short-message">{{ feedback.short_message }}</div>
						<div class="full-message">{{ feedback.message_html|safe }}</div>
					</td>
					<td>
						{{ feedback.date_display() }}
					</td>
					<td class="what-have">
						{% if feedback.is_read %}<span class="is-read yes">&nbsp;</span>
						{% else %}<span class="is-read no">&nbsp;</span>{% endif %}
					</td>
					<td>
						<a href="/admin/{{ cls_name }}/delete/{{ feedback.id }}" class="delete-row-link">удалить [x]</a><br/>
						<a href="/admin/{{ cls_name }}/is-read/{{ feedback.id }}" class="change-is-read">
							отметить {% if feedback.is_read %}непрочитанным{% else %}прочитанным{% endif %}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}