{% extends 'base_admin.html' %}

{% block content %}
	<div class="add-new">
		<a href="/admin/{{ cls_name }}/new{% if filter %}?filter={{ filter }}{% endif %}">Добавить работу</a>
	</div>
	<div class="filter">
		Фильтр:
		<a href="?" {% if not filter %}class="selected"{% endif %} title="">все</a>,
		<a href="?filter=site" {% if filter == 'site' %}class="selected"{% endif %} title="">сайты</a>,
		<a href="?filter=design" {% if filter == 'design' %}class="selected"{% endif %} title="">дизайн</a>,
		<a href="?filter=psd2html" {% if filter == 'psd2html' %}class="selected"{% endif %} title="">верстка</a>
	</div>
	{% if works %}
		<table class="admin-list">
			<thead>
				<tr>
					<th>Картинка</th>
					<th>Тип и название</th>
					<th>Что есть</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for work in works %}
				<tr class="{{ loop.cycle('row1', 'row2') }}" id="record{{ work.id }}">
					<td>
						<a href="/admin/{{ cls_name }}/{{ work.id }}{% if filter %}?filter={{ filter }}{% endif %}"
							class="admin-list-pwork">{{ work.thumb_tag()|safe }}</a>
					</td>
					<td>
						<a href="/admin/{{ cls_name }}/{{ work.id }}{% if filter %}?filter={{ filter }}{% endif %}">
							<strong>{{ work.title_html|safe }}</strong></a>
					</td>
					<td class="what-have">
						Большое фото: {% if work.filename %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						Слаг: {% if work.slug %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						Ссылка на работу: {% if work.link %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						Описание: {% if work.description %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						Текст: {% if work.text %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						В ленте новостей: {% if work.show_in_feed %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						{% if work.type_ == 'psd2html' %}
							Превью разметки: {% if work.markup_preview %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
							Превью стилей: {% if work.css_preview %}<span class="yes">&nbsp;</span>{% else %}<span class="no">&nbsp;</span>{% endif %}<br />
						{% endif %}
					</td>
					<td>
						<a href="/admin/{{ cls_name }}/delete/{{ work.id }}" class="delete-row-link">удалить [x]</a>
						<a class="move-link up" href="/admin/{{ cls_name }}/move/{{ work.id }}?direction=up"
							title="Подвинуть вверх">[&uarr;]</a>
						<a class="move-link down" href="/admin/{{ cls_name }}/move/{{ work.id }}?direction=down"
							title="Подвинуть вниз">[&darr;]</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}