{% extends 'base_admin.html' %}

{% block content %}
	<div class="add-new">
		<a href="/admin/{{ cls_name }}/new">Добавить отзыв</a>
	</div>
	{% if reviews %}
		<table class="admin-list">
			<thead>
				<tr>
					<th>Отзыв</th>
					<th>Подпись</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for review in reviews %}
				<tr class="{{ loop.cycle('row1', 'row2') }}" id="record{{ review.id }}">
					<td>
						<a href="/admin/{{ cls_name }}/{{ review.id }}" class="admin-list-pwork">
							{{ review.text }}</a>
					</td>
					<td>
						{{ review.sign}}
					</td>
					<td>
						<a href="/admin/{{ cls_name }}/delete/{{ review.id }}" class="delete-row-link">удалить [x]</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}