{% extends 'admin/base.html' %}

{% block pagetitle %}Вход{% endblock pagetitle %}
{% block title %}Вход{% endblock title %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
{% endblock extracss %}

{% block header %}
  <div id="branding">    
		<h1 id="site-name">Вход</h1>
	</div>
{% endblock header %}

{% block content %}

	<div id="content-main">

		<form action="{{ url_for('login') }}" method="POST" class="admin-form" id="login-form">

			{% for f in form %}
				<div class="form-row">
					{{ f.label }}
					{{ f }}
					{% for e in f.errors %}
						<span class="error">{{ e }}</span>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="submit-row">
				<button type="submit">Войти</button>
			</div>
		</form>
 
		<script type="text/javascript"> 
			document.getElementById('id_username').focus()
		</script> 
	</div> 

{% endblock content %}