{% extends 'admin/base.html' %}

{% block pagetitle %}Logout{% endblock pagetitle %}
{% block title %}Logout{% endblock title %}

{% block content %}

	<div id="content-main">

		<p>
			Вы можете снова <a href="/admin/login">войти</a> в админку,<br/>
			или пойти на <a href="/">сам сайт</a>.
		</p>

	</div>

{% endblock content %}