{% extends 'admin/base.html' %}

{% block pagetitle %}Добавление товара{% endblock pagetitle %}
{% block title %}Добавление товара{% endblock title %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock extracss %}

{% block header %}
<div id="branding"> 
	<h1 id="site-name">Администрирование "TV26.ru"</h1>
</div>
{% endblock header %}

{% block content_class %}class="colM"{% endblock content_class %}

{% block content %}
        
	<h1>{{ title }}</h1>

	<form action="/admin/{{ cls_name }}/{% if add %}new{% elif record %}{{ record.id }}{% endif %}"
	 class="admin-form" method="POST" enctype="multipart/form-data">
		{% for f in form %}
			<div class="form-row {% if f.validators %}required{% endif %}">
				{% if f.type == 'BooleanField' %}
					{{ f }} &nbsp;{{ f.label }}
				{% else %}
					{{ f.label }}:<br/>
					{{ f }}
				{% endif %}
				{% for e in f.errors %}
					<span class="error">{{ e }}</span>
				{% endfor %}
				{% for e in f.errors %}
					<span class="error">{{ e }}</span>
				{% endfor %}
			</div>
		{% endfor %}
		<div>
			<button type="submit">Сохранить</button>

			{% if add %}
				<button type="submit" name="_add_more">Сохранить и добавить еще</button>
			{% endif %}

			<a href="{% if back_to %}{{ back_to }}{% else %}/admin/{% endif %}">&larr; Отмена</a>
		</div>
	</form>

	{% if not add and cls_name == 'Category' %}
		{% include 'admin/_products_module.html' %}
	{% endif %}

{% endblock content %}

{% if not add and cls_name == 'Category' %}
	{% block extra_js %}
		{% include 'admin/_products_module_javascript.html' %}
	{% endblock extra_js %}
{% endif %}