<div class="feed-item l">
	<div class="preview">
		<a href="{{ feed.get_url() }}">{{ feed.thumb_tag()|safe }}</a></div>

	<div class="title">
		{% if feed.title_with_link_html %}
			{{ feed.title_with_link_html|safe }}
		{% else %}
			<a href="{{ feed.get_url() }}">{{ feed.title_html|safe }}</a>
		{% endif %}
	</div>
</div>