<a href="/calculator/card" class="pack hproduct pack1 l{% if pack == 'card' %} selected{% endif %}">
  <h4><span class="fn value">Сайт-визитка</span></h4>
  
  {% if main %} 
    <p class="description">Небольшой сайт, который состоит из нескольких страниц и содержит основную информацию о вас или вашей компании</p>
  {% else %}
    <b class="checkbox"></b>
  {% endif %}
  <p>
    от <span class="price">{{ packs_prices.card.0 }} руб.</span><br/>
    от 7 дней
  </p>

  <span class="category h">Сайт под ключ</span>
</a>

<b class="l"></b>

<a href="/calculator/catalog" class="pack hproduct pack2 l{% if pack == 'catalog' %} selected{% endif %}">
  <h4><span class="fn value">Каталог</span></h4>
  
  {% if main %}
    <p class="description">Перечень продукции или услуг, которые предлагает<br/> ваша компания. Это - ваша электронная витрина</p>
  {% else %}
    <b class="checkbox"></b>
  {% endif %}
  <p>
    от <span class="price">{{ packs_prices.catalog.0 }} руб.</span><br />
    от 14 дней
  </p>

  <span class="category h">Сайт под ключ</span>
</a>

<b class="l"></b>

<a href="/calculator/shop" class="pack hproduct pack3 l{% if pack == 'shop' %} selected{% endif %}">
  <h4><span class="fn value">Интернет-магазин</span></h4>
  
  {% if main %}
    <p class="description">Каталог, где посетитель сможет выбрать себе товары и оплатить их прямо в интернете</p>
  {% else %}
    <b class="checkbox"></b>
  {% endif %}

  <p>
    от <span class="price">{{ packs_prices.shop.0 }}</span> руб.<br />
    от 21 дня
  </p>

  <span class="category h">Сайт под ключ</span>
</a>

<b class="l"></b>

<a href="/calculator/other" class="pack hproduct pack4 l{% if pack == 'other' %} selected{% endif %}">
  <h4><span class="fn value">Свой вариант</span></h4>
  
  {% if main %}
    <p class="description">Вы можете сконфигурировать сайт с помощью нашего калькулятора, выбрав только нужные вам модули</p>
  {% else %}
    <b class="checkbox"></b>
  {% endif %}
  <p><span class="price">Выбираете сами</span></p>

  <span class="category h">Сайт под ключ</span>
</a>