{% if pagination.pages > 1 %}
	{% if pagination.has_prev %}
		<a href="/portfolio{% if type_ != 'all' %}/{{ type_ }}{% endif %}?page={{ pagination.prev_num }}" title="Назад">&larr;</a>
	{% endif %}
	{% for page in pagination.iter_pages() %}
	  {% if page %}
	        <a href="/portfolio{% if type_ != 'all' %}/{{ type_ }}{% endif %}?page={{ page }}"
	          {% if page == pagination.page %}class="selected" title="Вы здесь"
	          {% else %}title="{{ page }} страница"{% endif %}>{{ page }}</a>
	  {% endif %}
	{% endfor %}
	{% if pagination.has_next %}
		<a href="/portfolio{% if type_ != 'all' %}/{{ type_ }}{% endif %}?page={{ pagination.next_num }}" title="Вперед">&rarr;</a>
	{% endif %}
{% endif %}