{% if pagination %}
	{% if pagination.has_prev %}
		<a href="/portfolio{% if type_ != 'all' %}/{{ type_ }}{% endif %}?page={{ pagination.prev_num }}" title="Назад" class="port-shift prev"></a>
	{% endif %}
	{% if pagination.has_next %}
		<a href="/portfolio{% if type_ != 'all' %}/{{ type_ }}{% endif %}?page={{ pagination.next_num }}" title="Вперед" class="port-shift next"></a>
	{% endif %}
{% else %}
	{% if prev_work %}
		<a href="{{ prev_work.get_url(type_) }}" title="{{ prev_work.title }}" class="port-shift prev"></a>
	{% endif %}
	{% if next_work %}
		<a href="{{ next_work.get_url(type_) }}" title="{{ next_work.title }}" class="port-shift next"></a>
	{% endif %}
{% endif %}