{% if work.link %}
  <p class="link">
    <a href="{{ work.link }}" title="Перейти на сайт" target="_blank">{{ work.link }}</a>
  </p>
{% endif %}

<div class="port-text">
  {% if work.text_html %}
    {{ work.text_html|safe }}
  {% else %}
	  {{ work.text|safe }}
  {% endif %}
</div class="port-text">

<img src="{{ work.photo }}" alt="" />

{% if markup %}
  {% if markup.markup_preview_html %}
    <h5>
      Пример разметки:
    </h5>

    <div class="port-code-preview">
      {{ markup.markup_preview_html|safe }}
    </div>
  {% endif %}

  {% if markup.css_preview_html %}
    <h5>
      Пример стилей:
    </h5>

    <div class="port-code-preview">
      {{ markup.css_preview_html|safe }}
    </div>
  {% endif %}
{% endif %}