<a href="/portfolio" title="все наши работы"
	{% if type_ == 'all' %}class="selected"{% endif %}>все ({{ works_count.all }})</a>
<a href="/portfolio/design" title="только дизайн"
	{% if type_ == 'design' %}class="selected"{% endif %}>дизайн ({{ works_count.design }})</a>
<a href="/portfolio/site" title="только сайты под ключ"
	{% if type_ == 'site' %}class="selected"{% endif %}>сайты ({{ works_count.site }})</a>
<a href="/portfolio/psd2html" title="только html-верстка"
	{% if type_ == 'psd2html' %}class="selected"{% endif %}>верстка ({{ works_count.psd2html }})</a>