<div class="port-item l">
	<div class="preview">
		<a href="{{ work.get_url() }}{% if type_ != 'all' %}?type={{ type_ }}{% endif %}">{{ work.thumb_tag()|safe }}</a></div>

	<div class="title">
		{% if work.title_with_link_html %}
			{% if type_ != 'all' %}
				{{ work.get_title_with_link_html(type_)|safe }}
			{% else %}
				{{ work.get_title_with_link_html()|safe }}
			{% endif %}
		{% else %}
			<a href="{{ work.get_url() }}{% if type_ != 'all' %}?type={{ type_ }}{% endif %}">{{ work.title_html|safe }}</a>
		{% endif %}
	</div>
	{% if work.description %}
		<p>{{ work.description|safe }}</p>
	{% endif %}
	{# <div class="type"><a href="/portfolio/{{ work.type_ }}">{{ work.type_display()|lower() }}</a></div> #}
</div>