<div class="news-item c png{% if index %} opened{% endif %}">
  <div class="date-title">
    <span>{{ post.short_date() }}</span>
    <h3>{{ post.title }}</h3>
  </div>
  {% if post.filename %}
    <div class="photo l">
      <img src="{{ post.url(162) }}" alt="{{ post.title }}" title="{{ post.title }}" />
    </div>
  {% endif %}
  <div class="description">
    {{ post.description()|striptags|safe }}...
  </div>
  <div class="text">
    {{ post.text_html()|safe }}
  </div>

  <a href="" class="more r"><span>{% if index %}Свернуть{% else %}Раскрыть{% endif %}</span></a>
</div>