
<div class="form-row price-item l c{% if price.by_default or price.belongs_to(pack) %} selected{% endif %}
	{% if price.by_default %} disabled{% endif %} {% if price.is_present() %}present{% endif %}">
  <input{% if price.by_default or price.belongs_to(pack) %} checked{% endif %} type="checkbox"
  	name="price{{ price.id }}" id="price{{ price.id }}" value=""
  	price="{{ price.price }}" min_pages="{{ price.min_pages }}"
  	{% if price.by_default %} disabled{% endif %} />
  <label for="price{{ price.id }}">{{ price.title }}</label>
  {% if price.description %}
  	<a href="" title="{{ price.description }}" class="description">?</a>
  {% endif %}

  <span class="price r"{% if price.code == 'design' %} id="designPrice"{% endif %}>
    {% if price.is_present() %}в подарок{% else %}от {{ price.price }} руб.{% endif %}</span>
</div>