<div class="provider-item">
  <a href="/sputnikovoetv/{{ provider.slug }}">
  	<img src="{{ provider.url(150) }}" alt="{{ provider.title }}" title="{{ provider.title }}" /><br/>
  	{{ provider.title }}
  </a>
</div>