<div class="product news-item c">
  <h3>{{ product.title }}</h3>
  {% if product.url(150) %}
	  <div class="photo l">
      <a href="{{ product.url() }}">
	     <img src="{{ product.url(150) }}" alt="{{ product.title }}" title="{{ product.title }}" />
      </a>
	  </div>
  {% endif %}
  <div class="description">
    {{ product.description }}
  </div>
  {% if product.price %}
    <div class="price">
      Цена: {{ product.price }} руб.
    </div>
  {% endif %}
  <div class="in-stock {% if product.in_stock %}yes{% else %}no{% endif %}">
  	{% if product.in_stock %}В наличии{% else %}Нет в наличии{% endif %}
  </div>
</div>