{% extends 'base_inner.html' %}

{% block pagetitle %}О нас{% endblock %}
{% block title %}Немного истории:{% endblock %}

{% block content %}
	<div class="text">
		<p><strong class="site-name">Магазин «Антенны»</strong> существует с 1996 года. За это время менялось наше местоположение: до
	января 2004 года магазин располагался по адресу: ул. Доваторцев, 1; с января 2004 года и по сей
	день — ул. Ленина, 245 (рядом с ДКиСП). Направление деятельности оставалось неизменным, а
	именно: телевидение и все его основные возможности. В 1996 году спутниковое ТВ (тогда еще
	аналогового формата) в нашей стране только зарождалось, оборудование для его прёма стоило
	на порядок дороже, чем сейчас, и производилось только за рубежом. В этом же году появился
	первый российский спутниковый провайдер НТВ+, и наш магазин первым в городе взялся за
	внедрение этого проекта среди горожан. На тот момент бОльшая часть ставропольцев смотрела
	эфирное ТВ, состоящее всего из нескольких каналов (впрочем, в области эфирного телевидения
	такое положение дел сохраняется до сих пор и может сдвинуться с мертвой точки только в 2012
	году, когда начнет внедряться правительственная программа перехода на цифровое эфирное
	телевещание). Спутниковое же ТВ являлось роскошью, которую себе мог позволить далеко не
	каждый, а до появления его «народного» варианта было еще очень далеко. Но время шло, и с
	каждым годом качественное ТВ вещание становилось доступнее и в наши дни проникло почти в
	каждый дом. И это не может не радовать.
		</p>

		<h1>О нас:</h1>

		<p>Все эти годы <strong class="site-name">магазин «Антенны»</strong> находится в самой гуще событий в области развития
	телевещания и предлагает своим клиентам самые передовые возможности просмотра
	телеканалов. За это время нашими сотрудниками накоплен серьёзный опыт в этой сфере, что
	позволяет обеспечивать всё большее количество ставропольчан современным оборудованием
	для просмотра максимально возможного спектра телеканалов. Накоплена большая клиентская
	база, которая ежедневно увеличивается. И это не удивительно. Ведь телевидение очень прочно
	вошло в нашу жизнь и без него не может представить свое существование ни один современный
	человек.
		</p>

		<p>В нашем магазине Вы всегда можете получить высококвалифицированную консультацию по всем
	интересующим Вас вопросам в области <strong>спутникового, эфирного и кабельного телевидиния</strong>.
	Наш магазин отличается индивидуальным подходом даже к самым взыскательным клиентам. У
	нас Вы можете найти как стандартные решения для домашнего просмотра, так и оборудование
	профессионального класса, рассчитанное на опытных установщиков с многолетним стажем и
	жаждой экспериментов. Мы всегда стараемся быть на гребне волны в своей области и надеемся,
	что будем и дальше развиваться вместе с Вами, нашими клиентами!
		</p>
	</div>
{% endblock %}

