{% extends 'base.html' %} 

{% block pagetitle %}Цены{% endblock %}

{% block extra_head %}
  {% if pack %}
    <script type="text/javascript">
      var currentPack = '{{ pack }}';
    </script>
  {% endif %}
{% endblock extra_head %}

{% block body_class %}class="calc"{% endblock %}

{% block content %}
  <div class="content" role="main">

    <h1 id="title">Цены</h1>

    <div class="packs c" id="packs">

      {% include 'frontend/_packs.html' %}

    </div> <!-- .packs -->

    <form action="/send-feedback" method="POST" enctype="multipart/form-data" id="calc" class="calc-form c">
      <input type="hidden" name="feedback_type" id="feedback_type" value="order" />

      <h2>Конфигурация сайта</h2>

      <p>
        Вы можете выбрать сами те модули, которые вам нужны. Здесь есть только самые популярные.
        Если вам нужно что-то еще, просто скажите нам, и мы обязательно это сделаем
      </p>

      <div class="price-list c">
        {% if default_prices %}
          <div class="column l">
            {% for price in default_prices %}
              {% include 'frontend/_price_item.html' %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="c"></div>

        {% if not_default_prices %}
          {% for price in not_default_prices %}
            {% include 'frontend/_price_item.html' %}
          {% endfor %}
        {% endif %}
      </div>

      <div class="total-price" id="totalPrice">Сайт будет стоить от <span></span> руб.</div>

      <div class="calc-actions c">
        Вы можете <a href="" id="makeOrder" title="Форма откроется прямо здесь">заполнить форму</a> и отправить нам заявку или
        <a href="" id="print" title="Чтобы не забыть">распечатать прайс-лист</a>
      </div>

      <div class="order-fieldset" id="orderFieldset">
        <div class="form-row">
          <label for="name">Как вас зовут?*</label><br/>
          <input class="required" type="text" name="name" id="name" value="" title="введите ваше имя, пожалуйста" />
        </div>

        <div class="form-row">
          <label for="contacts">Как с вами связаться?*</label><br/>
          <div class="hint">
            Вы можете оставить нам свой e-mail, телефон, icq и т.п. Иначе, как мы сможем вам ответить?
          </div>

          <textarea title="нам нужны ваши контакты, чтобы с вами связаться"
            name="contacts" id="contacts" class="required"></textarea>
        </div>

        <div class="form-row">
          <label for="comment">Есть, что добавить?</label><br/>
          <div class="hint">
            Здесь вы можете, например, написать пожелания к дизайну. Или указать, что вам нужен модуль, который вы не увидели в нашем калькуляторе. Все это для того, чтобы мы как можно лучше сразу понимали, что вам нужно
          </div>

          <textarea name="comment" id="comment"></textarea>
        </div>

        <div class="form-row">
          <button type="submit">Готово</button>
          <a href="" title="Закрыть форму" class="cancel js" id="cancelOrder">Отмена</a>
        </div>
      </div>

    </form>

    <div class="text">
      <p>
        While PIE has been optimized for speed, there is still a small cost in rendering performance for each element it is applied to. When you have dozens or hundreds of elements on your page with CSS3 styles applied, this can add up to a noticeable rendering delay.
        </p>

      <p>
        When you have that many elements on one page, chances are that only a small number of them are visible in the browser viewport initially, as viewing the rest would require scrolling. PIE allows an optional optimization for this case: if you apply the custom -pie-lazy-init:true; property to elements PIE will delay the initialization of their CSS3 rendering until they are scrolled into the viewport. This keeps the initial page load snappy without severely limiting the number of elements you can render.
      </p>
    </div>


  </div> <!-- .content -->
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="/static/js/libs/history.js"></script>
  {# <script type="text/javascript" src="/static/js/libs/history.html4.js"></script> #}
  <script type="text/javascript" src="/static/js/libs/history.adapter.mootools.js"></script>
  <script type="text/javascript" src="/static/js/libs/mootools.custom.form.elements.js"></script>
  <script type="text/javascript" src="https://raw.github.com/andrewplummer/Sugar/master/release/sugar-0.9.5.min.js"></script>
  <script type="text/javascript" src="/static/js/calc.js"></script>
{% endblock %}