{% extends 'base.html' %} 

{% block pagetitle %}Цены{% endblock %}

{% block extra_head %}
  {% if pack %}
    <script type="text/javascript">
      var currentPack = '{{ pack }}';
    </script>
  {% endif %}
{% endblock extra_head %}

{% block body_class %}class="calc"{% endblock %}

{% block content %}
  <div class="content" role="main">

    <h1 id="title">Цены</h1>

    <div class="packs c" id="packs">

      {% include 'frontend/_packs.html' %}

    </div> <!-- .packs -->

    <form action="/send-feedback" method="POST" enctype="multipart/form-data" id="calc" class="calc-form c">

      <h2>Конфигурация сайта</h2>

      {% if default_prices %}
        <div class="column l">
          {% for price in default_prices %}
            {% include 'frontend/_price_item.html' %}
          {% endfor %}
          
          <div class="form-row price-item c selected disabled">
            <input checked type="checkbox" name="free_domain" id="free_domain" disabled />
            <label for="free_domain">Домен на 1 год</label>
            <a href="" title="При заказе сайта у нас, вы получаете домен (имя сайта в интернете) на год в подарок"
              class="description">?</a>

            <span class="price r">бесплатно</span>
          </div>

          <div class="form-row price-item c selected disabled">
            <input checked type="checkbox" name="free_hosting" id="free_hosting" disabled />
            <label for="free_hosting">Хостинг на 1 год</label>
            <a href="" title="А также, в подарок, вы получаете целый год бесплатного хостинга"
              class="description">?</a>

            <span class="price r">бесплатно</span>
          </div>
        </div>
      {% endif %}

      <div class="column l present">
      </div>

      <div class="c"></div>

      {% if not_default_prices %}
        {% for price in not_default_prices %}
          {% include 'frontend/_price_item.html' %}
        {% endfor %}
      {% endif %}

      <div class="c"></div>

      <div class="total-price" id="totalPrice">Сайт будет стоить от <span></span> руб.</div>

      <div class="calc-actions c">
        Вы можете <a href="" id="makeOrder" title="Форма откроется прямо здесь">заполнить форму</a> и отправить нам заявку или
        <a href="" id="print" title="Чтобы не забыть">распечатать прайс-лист</a>
      </div>

      <div class="order-fieldset" id="orderFieldset">
        {% for f in form %}
          <div class="form-row">
            {{ f.label }}
            {% if f.description %}
              <p class="hint">{{ f.description|safe }}</p>
            {% endif %}
            {{ f }}
          </div>
        {% endfor %}

        <div class="form-row">
          <button type="submit">Готово</button>
          <a href="" title="Закрыть форму" class="cancel js" id="cancelOrder">Отмена</a>
        </div>
      </div>

    </form>

  </div> <!-- .content -->
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="/static/js/libs/history.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.html4.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.adapter.mootools.js"></script>
  <script type="text/javascript" src="/static/js/libs/mootools.custom.form.elements.js"></script>
  <script type="text/javascript" src="https://raw.github.com/andrewplummer/Sugar/master/release/sugar-0.9.5.min.js"></script>
  <script type="text/javascript" src="/static/js/calc.js"></script>
{% endblock %}