{% extends 'base_catalog.html' %}

{% block pagetitle %}{{ main_category.title }}{% endblock %}
{% block title %}{{ main_category.title }}.{% endblock %}

{% block content %}

    <div class="catalog-list" id="catalogList">

      <h2>{{ main_category.title }}</h2>

      {% for product in products %}
        {% include 'frontend/_product.html' %}
      {% endfor %}

    </div> <!-- .catalog -->
  
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{ url_for('.static', filename='js/libs/jquery.fancybox-1.3.4.pack.js') }}"></script>
	<script type="text/javascript">
		!function($) {
			var $catalogList = $('#catalogList');

			$catalogList.find('div.photo a').fancybox();
		}(jQuery);
	</script>
{% endblock extra_js %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/jquery.fancybox-1.3.4.css" />
{% endblock extra_css %}