{% extends 'base_inner.html' %}

{% block pagetitle %}Контакты{% endblock %}
{% block title %}Контакты{% endblock %}

{% block content %}
  <div class="text contacts">
    <p>
      г. Ставрополь, ул. Ленина, 245<br/>
      т. 62-56-48<br/>
      e-mail: stvantenna@yandex.ru
    </p>
    <p>
      режим работы: 9.00-18.00<br/>
      перерыв: 13.00-14.00, без выходных
    </p>
    <p>
      Карта проезда:
    </p>
  </div>

  <div id="yandexMap"></div>
{% endblock %}

{% block extra_js %}

  <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ACLwIk4BAAAAnVAZTAIA_IkAG4gWRMFU6A3uZZAT9bZuXd4AAAAAAAAAAABBlmIMikgmx3fm_1Zs5rDAna6uUw=="
  type="text/javascript"></script>
  <script type="text/javascript">
    var map = new YMaps.Map(document.getElementById('yandexMap'));
    map.setCenter(new YMaps.GeoPoint(45, 41), 15);
    map.setZoom(16);

    var geocoder = new YMaps.Geocoder('Ставрополь, улица Ленина, 245');

    YMaps.Events.observe(geocoder, geocoder.Events.Load, function () {
      if (this.length()) {
        var placemark = new YMaps.Placemark(this.get(0).getGeoPoint());
        placemark.name = "Магазин \"Антенны\"";
        placemark.description = "ул. Ленина, 243";
        map.addOverlay(placemark);
        map.panTo(this.get(0).getGeoPoint());

        setTimeout(function() {
          map.setZoom(16);
        }, 500);
      }
    });
  </script>

{% endblock extra_js %}

