{% extends 'base_inner.html' %}

{% block pagetitle %}Контакты{% endblock %}
{% block title %}Контакты{% endblock %}

{% block content %}
  <div class="text contacts">
    <p>
      Схема проезда:
    </p>
    <p>
      <img src="/static/images/scheme.jpg" alt="Как к нам добраться" />
    </p>
    <p>
      г. Ставрополь, ул. Ленина, 245<br/>
      т. 665-335, 357-947<br/>
      e-mail: <a href="mailto:support@tv26.ru">support@tv26.ru</a>
    </p>
    <p>
      режим работы: 9.00-18.00<br/>
      перерыв: 13.00-14.00, без выходных
    </p>
  </div>
{% endblock %}
