{% extends 'base_inner.html' %}

{% block pagetitle %}Вопрос-ответ{% endblock %}
{% block title %}Вопрос-ответ{% endblock %}

{% block content %}
 <div class="faq-list" id="faqList">

      <div class="faq-item">
        <div class="faq-q">
           <a href="">1. Чем занимается ваш магазин?</a>
        </div>
          
        <div class="faq-a">
          Магазин «Антенны» занимается продажей оборудования для спутникового, эфирного
и кабельного телевидения.
        </div>
      </div>

      <div class="faq-item">
        <div class="faq-q">
           <a href="">2. Могу ли я заказать спутниковый ресивер или другое оборудование, которое не
представлено в вашем каталоге?</a>
        </div>
          
        <div class="faq-a">
          Да. Магазин «Антенны» принимает заказы на конкретные модели оборудования,
которые не представлены в нашем каталоге.
        </div>
      </div>

      <div class="faq-item">
        <div class="faq-q">
           <a href="">3. Могу ли я оплачивать услуги операторов спутникового телевидения через ваш
магазин?</a>
        </div>
          
        <div class="faq-a">
          В магазине «Антенны» всегда есть в наличии карты оплаты платных услуг Триколор
ТВ. Оплата услуг остальных операторов производится через платёжные терминалы,
отделения банков или электронные карты. Информацию об оплате услуг каждого
конкретного оператора уточняйте на официальных сайтах соответствующих операторов или
у сотрудников магазина.
        </div>
      </div>

      <div class="faq-item">
        <div class="faq-q">
           <a href="">4. У меня не показывают каналы Триколор ТВ. Почему вы меня отключили?</a>
        </div>
          
        <div class="faq-a">
          Магазин «Антенны» не осуществляет вещания каналов Триколор ТВ или каких-
ибо других операторов. Наш магазин осуществляет продажу оборудования для
приёма спутникового сигнала. В случае исправности приёмного оборудования, все вопросы,
касающиеся непосредственно вещания, убедительно просим задавать официальным службам
технической поддержки соответствующих операторов, координаты которых можно узнать на
официальных сайтах соответствующих операторов или же у сотрудников магазина.
        </div>
      </div>

    </div> <!-- .faq-list -->
{% endblock %}

