{% extends 'base.html' %}

{% block pagetitle %}Новости{% endblock %}
{% block title %}Новости{% endblock %}

{% block content %} 
	<div class="news-filter">
		<span>Фильтр:</span>

		<a href="/"{% if filter_by == None %} class="selected"{% endif %}>все</a>,
		<a href="/income"{% if filter_by == 'income' %} class="selected"{% endif %}>поступления</a>,
		<a href="/event"{% if filter_by == 'event' %} class="selected"{% endif %}>события</a>
	</div>

	<div class="news-list" id="newsList">
		{% for post in posts %}
			{% include 'frontend/_post.html' %}
		{% endfor %}
	</div> <!-- .news-list -->

	{% if show_else %}

		<div class="news-more">
			<a href="" id="newsMore">Ещё новости</a>
		</div>

		<script type="text/javascript">
			window.filter_by = '{{ filter_by }}';
		</script>

	{% endif %}

{% endblock %}