{% extends 'base.html' %} 

{% block pagetitle %}Портфолио | {{ work.title }}{% endblock %}

{% block extra_head %}
  <link href="/static/css/highlight.css" rel="stylesheet" type="text/css" />
  <link rel="canonical" href="http://8hands.ru/portfolio"/>

  <script type="text/javascript">
    var h = window.innerHeight||document.documentElement.clientHeight;

    s = '<style type="text/css"> \
      .port-shift { height: ' + h + 'px; } \
      </style>';
    document.write(s);

    var currentPage = {% if current_page %}{{ current_page }}{% else %}1{% endif %},
      currentType = {% if current_type %}{{ current_type }}{% else %}'all'{% endif %};
  </script> 
{% endblock extra_head %}

{% block content %}
  <div class="content" role="main">

    <h1>{{ work.title_html|safe }}</h1>

    <div class="back-link">
    	<a href="{{ back_to }}" title="назад в портфолио">&larr; список работ</a>
    </div>

    <div class="port-show" id="portShow">
      {% include 'frontend/_port_show_partial.html' %}
    </div> <!-- .port-show -->

    <div id="portShowShiftHandler" class="port-shift-handler">
      {% include 'frontend/_port_shift.html' %}
    </div>

  </div> <!-- .content -->
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="/static/js/libs/history.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.html4.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.adapter.mootools.js"></script>
{% endblock extra_js%}