{% extends 'base.html' %} 

{% block pagetitle %}Портфолио{% endblock %}

{% block extra_head %}
  <script type="text/javascript">
    var w = document.documentElement.clientWidth||window.innerWidth,
      h = window.innerHeight||document.documentElement.clientHeight,
      width, margin, s, inRow;

    if (w <= 1000) {
      width = '29%';
      margin = '2%';
      inRow = 3;
    } else if (w > 1000 && w <= 1280) {
      width = '20%';
      margin = '2.5%';
      inRow = 4;
    } else {
      width = '16%';
      margin = '2%';
      inRow = 5;
    }

    s = '<style type="text/css"> \
      .port-item { width: ' + width + '; margin: 50px ' + margin + ' 0; } \
      .port-shift { height: ' + h + 'px; } \
      </style>';
    document.write(s);

    var currentPage = {% if current_page %}{{ current_page }}{% else %}1{% endif %},
      currentType = {% if current_type %}{{ current_type }}{% else %}'all'{% endif %};
  </script> 
{% endblock extra_head %}

{% block content %}
  <div class="content" role="main">

  <h1>Портфолио</h1>

    <div class="port-types" id="portTypes">
      {% include 'frontend/_port_types.html' %}
    </div>

    <div class="port-list c" id="portList">
      
      {% for work in works %}
        {% include 'frontend/_port_item.html' %}
      {% endfor %}

    </div>

    <div class="pagination" id="pagination">
      {% include 'frontend/_pagination.html' %}
    </div>

    <div id="portShiftHandler" class="port-shift-handler">
      {% include 'frontend/_port_shift.html' %}
    </div>

  </div> <!-- .content -->
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="/static/js/libs/history.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.html4.js"></script>
  <script type="text/javascript" src="/static/js/libs/history.adapter.mootools.js"></script>
{% endblock extra_js%}