{% extends 'base_inner.html' %}

{% block pagetitle %}{{ provider.title }}{% endblock %}
{% block title %}{{ provider.title }}{% endblock %}

{% block content %}
	<div class="c provider">
		<img src="{{ provider.url(150) }}" alt="{{ provider.title }}" class="l" />

		<a href="" class="print" id="print">Распечатать</a>

		<p class="c">
			{{ provider.description_html()|safe }}
		</p>

		<p class="provider-channels">
			{{ provider.channels_html()|safe }}
		</p>	
	</div>
{% endblock %}

