{% extends 'base_inner.html' %}

{% block pagetitle %}Карта сайта{% endblock %}
{% block title %}Карта сайта{% endblock %}

{% block content %}
	<div class="text">
		<ul>
			<li><a href="/" title="Главная">Главная</a></li>
			<li><a href="/catalog/{{ first_category.id }}" title="Каталог">Каталог</a></li>
			<li><a href="/about" title="О нас">О нас</a></li>
			<li><a href="/faq" title="Вопрос-ответ">Вопрос-ответ</a></li>
			<li><a href="/contacts" title="Контакты">Контакты</a></li>

			<li class="made-by"><a href="http://8hands.ru" title="сделано в 8hands.ru">сделано в 8hands.ru</a></li>
		</ul>
	</div>
{% endblock %}

