<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content-type="text/html; charset: utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{% block pagetitle %}{% endblock %} - Магазин Антенны Ставрополь.Триколор.Нтв+</title>
  <meta name="description" content="{% block description %}Магазин Антенны Ставрополь.Триколор.Нтв+{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}Магазин Антенны Ставрополь.Триколор.Нтв+{% endblock %}" />
  <meta name="author" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <link rel="stylesheet" href="/static/css/style.css?v=2" />
  {% block extra_css %}{% endblock extra_css %}
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19203626-4']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body class="catalog">

  <div class="inner-body">

    <div class="wrapper">
      <header class="c">
        {% include 'layouts/header.html' %}
      </header>

      <div class="content c" role="main">

        <div class="side-bar l">
          <h1>Каталог</h1>

          <ul class="catalog-menu">
            {% for category in categories %}
              <li>
                <a href="/catalog/{{ category.id }}" title="{{ category.title }}"
                  {% if category.id == main_category.id %}class="selected"{% endif %}>
                  {{ category.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="main-bar r">
          {% block content %}{% endblock %}
        </div> <!-- .main-bar -->

      </div> <!-- .content -->

      <footer>
        {% include 'layouts/footer.html' %}
      </footer>
    </div> <!-- .wrapper -->

  </div>


  <script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <script src="/static/js/script.js"></script>
  {% block extra_js %}{% endblock %}

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png");</script>
  <![endif]-->

  <!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7732576 = new Ya.Metrika({id:7732576, enableAll: true}); } catch(e) { } }); })(window, 'yandex_metrika_callbacks');</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/7732576" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

</body>
</html>