<!DOCTYPE html>

<html>
<head>
	<title>Администрирование "8hands.ru" - {% block pagetitle %}Главная{% endblock pagetitle %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='admin/css/base.css') }}?v=3" />
	{% block extracss %}{% endblock extracss %}
</head>
<body {{ body_class|safe }}>

	<div id="container"> 

		<div id="header">
			{% block header %}{% endblock header %}
		</div>

		{% if not not_logged %}
			<div class="admin-menu">
				{% include 'admin/menu.html' %}
			</div>
		{% endif %}

		<div id="content" {% block content_class %}{% endblock content_class %}>
			{% set messages = get_flashed_messages(with_categories=True) %}
			{% for category, message in messages %}
				<p class="flash {{ category }}">{{ message }}</p>
			{% endfor %}

			{% block content %}{% endblock content %}
			      
    	<br class="clear" /> 
		</div>

	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
	<script type="text/javascript" src="/static/js/libs/mootools.more.js"></script>
	<script type="text/javascript" src="/static/js/libs/roar.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin.js"></script>
	{% block extra_js %}{% endblock %}
</body>
</html>